{% extends 'base.html.twig' %}

{% block title %}Post Details{% endblock %}

{% block body %}
    <h1>Post Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog_post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blog_post.content }}</td>
            </tr>
            <tr>
                <th>Created_on</th>
                <td>{{ blog_post.createdOn ? blog_post.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_on</th>
                <td>{{ blog_post.updatedOn ? blog_post.updatedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">Back to List</a>

    <a href="{{ path('app_post_edit', {'id': blog_post.id}) }}">Update</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
